* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

body {
    width: 100%;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    line-height: 1;
    background-color: $primary-background-color;
    color: $primary-text-color;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}


.header {
    background-color: #f0f0f0;
    position: relative;
    padding: 20px 0;

    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-size: 18px;
            font-weight: 700;
            color: #000000;
        }
    
        .list-desk {
            display: none;
        }
        .phone {
            display: none;
            position: absolute;
            right: 0;
            top: 0;

            height: 100vh;

            padding: 70px 40px 0 40px;

            background-color: #000000;

            .close {
                position: absolute;
                width: 30px;
                top: 20px;
                right: 20px;
            }

            .list-phone {
                .item{
                    margin-bottom: 18px;
    
                    &:last-child {
                        margin-bottom: 0;
                    }
    
                    &:nth-child(3) {
                        margin-bottom: 40px;
                    }
    
                    &:nth-child(4) {
                        margin-bottom: 24px;
                    }
    
                    .link {
                        font-size: 18px;
                        font-weight: 400;
                        color: #ffffff;

                        transition: color 1s ease;

                        &:hover, &:focus {
                            color: #766a6a;
                        }

                        &.btn {
                            padding: 6px 12px;
                            border-radius: 20px;
                            background-color: #ffffff;
                            color: #000000;

                            transition: background-color 1s cubic-bezier(0.6, 0.82, 0.165, 1);

                            &:hover, &:focus {
                                background-color: #f0f0f0;
   
                            }
                        }
                    }
                    
                    }
                }
            }
        }
        
    }


.footer {
    padding: 40px 0;
    color: #ffffff;
    background-color: #000000;

    .container {
        display: flex;
        justify-content: space-between;

        flex-wrap: wrap;
    
        .box {
            width: 50%;

            &:first-child {
                width: 100%;
            }

            .logo {
                font-size: 18px;
                font-weight: 700;
            }

            .text {
                margin-top: 18px;

                line-height: 1.7;
                color: #c8c8c8;
            }

            .title {
                margin-bottom: 18px;
                margin-top: 24px;
                font-size: 16px;
                font-weight: 700;
            }

            .list {
                color: #c8c8c8;

                .item {
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .link {
                        color: #c8c8c8;

                        transition: color 1s ease;

                        &:hover, &:focus {
                            color: #ffffff;
                        }

                    }
                }
            }
        }
    }

}

@media screen and (min-width: 360px) and (max-width: 767px) {

    .header {
        .container {
            width: 330px;

            .phone {
                width: 55%;
            }
        }
    }

    .footer {
        .container {
            width: 330px;
        }
    }
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 20px;
    }

    .header {
        padding: 35px 0;
        .container {
            width: 728px;

            .menu {
                display: none;
            }
    
            .phone {
                display: none;
            }
    
            .list-desk {
                display: flex;
                align-items: center;
                
                .item {
                    margin-right: 16px;
                    &:last-child {
                        margin-right: 0;
                    }

                    .link {
                        color: #000000;
                        transition: color 1s ease;

                        &:hover, &:focus {
                            color: #766a6a;
                        }

                        &.btn {
                            padding: 10px 16px;
                            border-radius: 10px;
                            background-color: #000000;
    
                            color: #ffffff;

                            transition: background-color 1s cubic-bezier(0.6, 0.82, 0.165, 1);

                            &:hover, &:focus {
                                background-color: #766a6a;
   
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        .container {
            width: 728px;
            justify-content: start;

            font-size: 16px;

            .box{
                width: 25%;

                &:first-child {
                    width: 50%;
                }

                .text {
                    width: 280px;
                }

                .title {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 1366px) {
    .container {
        padding: 0 100px;
        width: 1166px;
    }

    .header {
        .container {
            width: 1166px;
        }

        .list-desk {
            .item {
              &:nth-child(3) {
                margin-right: 200px;
              }
              .item {
                .link {
                    font-size: 18px;
                }
              }
            }
        }
    }

    .footer {
        padding: 60px 0;
        .container {
            width: 1166px;
            justify-content: space-between;

            .box {
                width: 18%;

                .text {
                    width: 230px;
                }

                &:first-child {
                    width: 28%;
                }

            }
        }
    }
}
